.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
docs
*.gitkeep
*.vcf.gz
*.vcf
*.log
data/genotypic/YT_Urb_25/clean/YT_Urb_25_focalAccessions_GRM.rds
data/genotypic/25_Big6_SVREC_SVREC/clean/25_Big6_SVREC_SVREC_combined_GRM.rds
data/genotypic/YT_Urb_25/clean/YT_Urb_25_focalAccessions_GRM.rds
data/genotypic/YT_Urb_25/clean/YT_Urb_25_combined_GRM.rds
data/genotypic/YT_Urb_25/clean/YT_Urb_25_focalAccessions_GRM.rds
output/temp
*.dat
